:root {
  --blue: #2344a1;
  --yellow: #ebdf25;
  --black: #292d33;
  --orange: #ff4f00;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h3 {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 i {
  text-transform: capitalize;
  font-style: italic;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.pre-line {
  white-space: pre-line;
}

.bg-blue {
  background-color: var(--blue);
  color: white;
}

.bg-orange {
  background-color: var(--orange);
  color: white;
}

.bg-black {
  background-color: var(--black);
  color: white;
}

.bg-yellow {
  background-color: var(--yellow);
  color: white;
}

.half {
  flex: 1;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: auto;
}

section {
  min-height: 624px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------- Header ----------------- */

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 68px;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background-color: transparent;
  color: white;

  transition: background-color 0.5s ease-in-out;
}

html:not([data-scroll="0"]) header {
  position: fixed;
  top: 0;
  z-index: 1;
}

html:not([data-scroll="0"]) header nav {
  background-color: white;
  color: black;

  transition: background-color 0.5s ease-in-out;
}

.logo {
  cursor: pointer;
}

.nav-list {
  list-style: none;
  margin: 0 0 0 auto;
  line-height: 24px;
}

.nav-list li {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.nav-list li:hover {
  border-bottom: 3px solid var(--blue);
}

/* ----------------- Pocetna ----------------- */

#pocetna {
  background: url("../images/home copy.png");
  background-size: cover;
  background-position: center;
  min-height: 692px;
}

.cards-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.card {
  padding: 24px;
  width: 238px;
  height: 216px;
  text-align: center;
  position: relative;
}

.card:first-of-type::before {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  top: -24px;
  left: 0;
}

.card:last-of-type::after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--black);
  position: absolute;
  bottom: -24px;
  right: 0;
}

/* ----------------- About us ----------------- */

#o-nama {
  padding: 86px;
  flex-wrap: wrap;
}

#o-nama .container {
  display: flex;
  justify-content: space-between;
}

.img-container {
  position: relative;
  text-align: center;
}

.img-container img {
  width: 82%;
}

.img-container::after {
  content: "";
  width: 65%;
  height: 72%;
  bottom: -7%;
  right: 0%;
  background-color: var(--blue);
  z-index: -1;
  position: absolute;
}

.text-container {
  position: relative;
}

.text-container ul {
  padding: 24px;
}

.text-container::after {
  content: "";
  width: 20%;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  left: 0;
  bottom: -8%;
}

/* ----------------- Projekti ----------------- */

#projekti {
  padding: 86px;
  flex-wrap: wrap;
}

#projekti .container {
  display: flex;
  flex: 1;
  gap: 16px;
}

#projekti .list-container {
  padding: 24px 36px;
  position: relative;
}

#projekti .list-container::after {
  content: "";
  width: 128px;
  height: 4px;
  background-color: inherit;
  position: absolute;
  left: 0;
  bottom: -48px;
}

#projekti li {
  margin-bottom: 8px;
}

#projekti li ul {
  padding: 8px;
}

/* ----------------- Kontakt ----------------- */

#kontakt {
  padding: 86px;
  flex-wrap: wrap;
}

#kontakt .container {
  display: flex;
  flex: 1;
  gap: 16px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-container::after {
  content: "";
  width: 46%;
  height: 55%;
  bottom: 0;
  left: 72px;
  position: absolute;
  z-index: -1;
  background-color: var(--yellow);
}

.contact-container span:last-of-type {
  margin-bottom: 8px;
}

.map-container {
  text-align: center;
}

/* ----------------- Footer ----------------- */

footer {
  padding: 24px;
  background-color: var(--black);
  color: white;
  text-align: center;
}
